@use "./var";
@use "./typography";
@import "./mixins";
@import "./colors";
@import "./theme";

#App {
	text-align: center;
}

.page {
	@include themed() {
		background-color: t(var.$bg);
	}
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.card {
	background-color: #262626;
	border: 3px solid #303030;
	padding: 1rem;
	margin: 1rem;
	border-radius: 1rem;
}
.title-card {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;
	gap: 1.5rem;
}
.picture {
	height: 20rem;
	border-radius: 0.75rem;
	/* width: 10rem; */
}
h6 {
	font-size: 1.5rem;
	font-weight: 400;
	color: #7266ff;
}
h6.tight-text {
	margin: 0;
}
a {
	color: #3474eb;
}
p {
	font-size: 1.25rem;
}
