@use "var";
@import "./theme";
@import "./mixins";

// STYLE: TEXT
// <div>
// <h1>extra-big-title</h1>
// <h2>title</h2>
// <h3>sub-title</h3>
// <h4>bold medium title</h4>
// <h5>medium title</h5>
// <h6>sub-sub-title (small emphasis)</h6>
// <p>
// 	Lorem ipsum dolor, sit amet consectetur adipisicing elit.
// 	Praesentium quas quo quia itaque aspernatur maxime iusto rerum
// 	aperiam perspiciatis reiciendis repellendus ratione libero,
// 	commodi repudiandae tempore vitae nobis ipsa rem?
// </p>ß
// <p className="small"> wow small text</p>
// </div>
h1 {
	@include text(var.$font-title, var.$XXL, var.$Bold-weight);
	@include themed() {
		color: t(var.$text);
	}
}

h2 {
	@include text(var.$font-title, var.$XL, var.$Medium-weight);

	@include themed() {
		color: t(var.$text);
	}
}

h3 {
	@include text(var.$font-title, var.$L, var.$Default-weight);
	@include themed() {
		color: t(var.$text);
	}
}

h4 {
	@include text(var.$font-title, var.$M, var.$Medium-weight);
	@include themed() {
		color: t(var.$text);
	}
}
h5 {
	@include text(var.$font-body, var.$M, var.$Default-weight);
	@include themed() {
		color: t(var.$text);
	}
}
h6 {
	@include text(var.$font-title, var.$button, var.$Medium-weight);
	@include themed() {
		color: t(var.$text);
	}
}

p {
	@include text(var.$font-body, var.$default, var.$Default-weight);
	@include themed() {
		color: t(var.$text);
	}
}
p.bold {
	@include text(var.$font-body, var.$default, var.$SemiBold-weight);
}

p.small {
	@include text(var.$font-body, var.$S, var.$Light-weight);
}

h1.secondary,
h2.secondary,
h3.secondary,
h4.secondary,
h5.secondary,
h6.secondary,
p.secondary {
	@include themed() {
		color: t(var.$text-secondary);
	}
}
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center {
	text-align: center;
}
h1.left,
h2.left,
h3.left,
h4.left,
h5.left,
h6.left,
p.left {
	text-align: left;
}
h1.right,
h2.right,
h3.right,
h4.right,
h5.right,
h6.right,
p.right {
	text-align: right;
}
h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white,
p.white {
	color: var.$light;
}
h1.black,
h2.black,
h3.black,
h4.black,
h5.black,
h6.black,
p.black {
	color: var.$dark;
}
h1.purple,
h2.purple,
h3.purple,
h4.purple,
h5.purple,
h6.purple,
p.purple {
	color: var.$primary-default;
}
h1.purple-light,
h2.purple-light,
h3.purple-light,
h4.purple-light,
h5.purple-light,
h6.purple-light,
p.purple-light {
	color: var.$primary-light;
}
h1.danger,
h2.danger,
h3.danger,
h4.danger,
h5.danger,
h6.danger,
p.danger {
	color: var.$danger;
}
h1.faded,
h2.faded,
h3.faded,
h4.faded,
h5.faded,
h6.faded,
p.faded {
	opacity: 0.75;
}
h1.link,
h2.link,
h3.link,
h4.link,
h5.link,
h6.link,
p.link {
	@include themed() {
		color: t(var.$link);
	}
}
p.slicedID {
	opacity: 0.6;
}
h1.no-wrap,
h2.no-wrap,
h3.no-wrap,
h4.no-wrap,
h5.no-wrap,
h6.no-wrap,
p.no-wrap {
	white-space: nowrap;
}
// STYLE: LINKS
a {
	@include text(var.$font-body, var.$default, 500);

	@include themed() {
		color: t(var.$link);
	}
}
