$bg: "bg";
$fg: "fg";
$text: "text";
$text-secondary: "text-secondary";
$border: "border";
$inactive: "inactive";
$link: "link";
$text-input: "text-input";

$danger: #ff0019;
$urgent: #ff7878;
$success: #25c448;
$primary-default: #6840d9;
$primary-light: #8f67ff;
$primary-dark: #3c009f;
$accent1-default: #55bdde;
$accent1-light: #8ed6ff;
$accent1-dark: #0085be;
$accent2-default: #f41690;
$accent2-light: #ff61c0;
$accent2-dark: #bc0063;

$yellow: #c7be55;

$light: #fcfcfc;
$dark: #151515;

$gradient-disabled: "gradient-disabled";
$gradient-logo: "gradient-logo";
$gradient-primary: "gradient-primary";
$gradient-accent1: "gradient-accent1";
$gradient-accent2: "gradient-accent2";

$font-title: Montserrat, sans-serif;
$font-body: Roboto, sans-serif;

$XXL: 2.5rem;
$XL: 2rem;
$L: 1.75rem;
$M: 1.25rem;
$button: 1.15rem;
$default: 1rem;
$S: 0.75rem;
$XS: 0.5rem;

$Bold-weight: 900;
$SemiBold-weight: 700;
$Medium-weight: 500;
$Default-weight: 300;
$Light-weight: 400;

$screen_S: 480px;
$screen_M: 768px;
$screen_L: 1200px;
$screen_XL: 1600px;
